{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Private Files</title>
  </head>
  <body>
    <header>
      <h1>Private File Storage</h1>
      <nav>
        {% if user.is_authenticated %}
        <div>{{user.username}}</div>
        <ul>
          <li>Home</li>
          <li><a href="{% url 'files:file_list' %}">File List</a></li>
          <li><a href="{% url 'files:file_upload' %}">Add Files</a></li>
          <li><a href="{% url 'files:logout' %}">Logout</a></li>
          {% else %}
          <li><a href="{% url 'files:login' %}">Login</a></li>
        </ul>
        {% endif %}
      </nav>
    </header>
    <div class="content">{% block content %} {% endblock content %}</div>
    <footer>this is the footer</footer>
  </body>
</html>
